{% extends 'base.html.twig' %}

{% block title %}{{ employee.firstName }} {{ employee.lastName}}{% endblock %}

{% block header %}<h1>{{ employee.firstName }} {{ employee.lastName}}</h1>{% endblock %}

{% block body %}
    {# Affichage du formulaire #}
    {{ form_start(form) }}
    <div>
        {{ form_row(form.lastName, {label: "Nom" }) }}
    </div>
    <div>
        {{ form_row(form.firstName, {label: "Prénom" }) }}
    </div>
    <div>
        {{ form_row(form.email, {label: "Email" }) }}
    </div>
    <div>
        {{ form_row(form.startDate, {label: "Date d'entrée" }) }}
    </div>
    <div>
        {{ form_row(form.status, {label: "Statut" }) }}
    </div>
    <button type="submit" class="button button-submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
