{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
    <div class="flex-header">
        <h1>{{ project.name }}</h1>
        <div class="user-list">
            {% for member in project.members %}
                <div class="avatar">{{ member.getInitials() }}</div>
            {% endfor %}
        </div>
        <a class="button" href="{{ path("app_project_edit", {id: project.id}) }}">Modifier</a>
    </div>
{% endblock %}

{% block body %}
    <div id="tasks-container">
        {# Tâche Todo #}
        <div class="task-column">
            <h2>To Do</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status.value == "Todo" %}
                        <a class="task" href="#">
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description is not null ? task.description : "" }}</p>
                            <div class="task-infos">
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i> {{ task.deadline ? task.deadline|date('d/m/Y') : '-'  }}
                                </div>
                                <div class="mini-user">
                                    {{ task.member.getInitials() ?? "" }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="#" class="task-add">+ Ajouter une tâche</a>
            </div>
        </div>

        {# Tâche Doing #}
        <div class="task-column">
            <h2>Doing</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status.value == "Doing" %}
                        <a class="task" href="#">
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description is not null ? task.description : "" }}</p>
                            <div class="task-infos">
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i> {{ task.deadline ? task.deadline|date('d/m/Y') : '-'  }}
                                </div>
                                <div class="mini-user">
                                    {{ task.member.getInitials() ?? "" }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="#" class="task-add">+ Ajouter une tâche</a>
            </div>
        </div>

        {# Tâche Done #}
        <div class="task-column">
            <h2>Done</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status.value == "Done" %}
                        <a class="task" href="#">
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description is not null ? task.description : "" }}</p>
                            <div class="task-infos">
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i> {{ task.deadline ? task.deadline|date('d/m/Y') : '-'  }}
                                </div>
                                <div class="mini-user">
                                    {{ task.member.getInitials() ?? "" }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="#" class="task-add">+ Ajouter une tâche</a>
            </div>
        </div>
    </div>
{% endblock %}
